{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} / Log in{% endblock %}

{% block content %}

<p>Log in with your Pandora username and password.</p>

<form method="POST" action="{% url auth_login %}">
	{% csrf_token %}
	<table>{{ form.as_p }}</table>
	<input type="submit" value="{% trans 'Log in' %}" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot your password" %}? <a href="http://www.pandora.com/#!/account/help">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not a member" %}? <a href="http://www.pandora.com/#/account/register">{% trans "Register" %}</a>!</p>
{% endblock %}
