<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	
	<link rel="icon" type="image/png" href="favicon.png" />
	
	<script type="text/javascript" src="static/head.min.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="/static/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/jplayer.blue.monday/jplayer.blue.monday.css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<nav>
				<h1 id="title">{{ user.username }}'s {{ title }}</h1>

				<ul>
					<li><a href="#" class="current">Profile</a></li>
					<li><a href="/logout" class="current">Logout</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			<div id="radio">
				<div id="jquery_jplayer_1" class="jp-jplayer" data-bind="jPlayer: ''"></div>
				
				<div id="jp_container_1" class="jp-audio">
					<div class="jp-type-single">
						<div class="jp-gui jp-interface">
							<ul class="jp-controls">
								<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
								<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
								<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
								<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
								<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>				
							</ul>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
							<div class="jp-time-holder">
								<div class="jp-current-time"></div>
								<div class="jp-duration"></div>
							</div>
						</div> <!-- .jp-gui.jp-interface -->
						<img data-bind="attr: { src: albumArt } " />
						<div class="jp-title">
							<ul>
								<li>Now playing
									<span data-bind="text: title"></span>
									by
									<span data-bind="text: artist"></span>
									on
									<span data-bind="text: album"></span>
								</li>
							</ul>
						</div> <!-- .jp-title -->
						<div class="jp-no-solution">
							<span>Update Required</span>
							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
						</div> <!-- .jp-no-solution -->
					<!--<div>
							<form action="/ajax/search/" method="GET">
								<input type="text" placeholder="Search {{ title }}" data-bind="value: searchText, valueUpdate: 'afterkeydown'" />
								<input type="submit" value="Search" />
							</form>
						</div>
						<ul data-bind="foreach: searchResults, template: { name: 'searchResultTemplate' }"></ul>
						<script type="text/x-jquery-tmpl" id="searchResultTemplate">
							<li></li>
						</script>-->
					</div> <!-- .jp-type-single -->
				</div> <!-- #jp-container-1.jp-audio -->
			</div> <!-- #radio -->
			<div id="history">
				<ul data-bind='template: { name: "historyItemTemplate", foreach: history }'></ul>
			</div>
			<script type="text/html" id="historyItemTemplate">
				<li>
					<a href="#" data-bind="click: function() { viewModel.forceUpdateHistory($data) }">
						<img width="100px" height="100px" data-bind="attr: { src: artistArtUrl } " />
						<span data-bind="text: songTitle"></span> by <span data-bind="text: artistSummary"></span>
					</a>
				</li>
			</script>
		</div> <!-- #main -->
		<footer>
			<p>{{ quote }}</p>
		</footer>
	</div> <!-- #wrapper -->
	<script type="text/javascript">
		head.js("http://code.jquery.com/jquery-1.6.4.min.js",
				"http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js",
				"http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js",
				"/static/jquery.jplayer.min.js",
				"/static/add-on/jquery.jplayer.inspector.js",
				"/static/init.js");
	</script>
</body>
</html>
