<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	
	<link rel="icon" type="image/png" href="favicon.png" />
	
	<script type="text/javascript" src="static/head.min.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="/static/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/jplayer.blue.monday/jplayer.blue.monday.css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<nav>
				<h1 id="title">{{ user.username }}'s {{ title }}</h1>

				<ul>
					<li><a href="#" class="current">Profile</a></li>
					<li><a href="/logout" class="current">Logout</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			<div id="radio">
				
	<div id="jquery_jplayer_1" class="jp-jplayer" data-bind="jPlayer: songUrl"></div>

<div id="jp_container_1" class="jp-audio">
	<div class="jp-type-single">
		<div class="jp-gui jp-interface">
			<ul class="jp-controls">
				<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
				<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
				<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
				<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
				<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
			</ul>
			<div class="jp-progress">
				<div class="jp-play-bar"></div>
			</div>
			<div class="jp-volume-bar">
				<div class="jp-volume-bar-value"></div>
			</div>
			<div class="jp-time-holder">
				<div class="jp-current-time"></div>
				<div class="jp-duration"></div>
			</div>
		</div>
		<div class="jp-title">
			<ul>
				<li>Bubble</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>
				
			</div> <!-- #radio -->
			<div id="chat">
				<iframe src="http://192.168.56.101:8001/?name={{ user.username }}" width="100%" height="100%"></iframe>
			</div> <!-- #chat -->
			<p class="clearboth"></p>
		</div> <!-- #main -->
		<footer>
			<p>Hello from the basement of Soda</p>
		</footer>
	</div> <!-- #wrapper -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js"></script>
	<script type="text/javascript" src="/static/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/static/add-on/jquery.jplayer.inspector.js"></script>
	<script type="text/javascript" src="/static/init.js"></script>
</body>
</html>
