<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	
	<link rel="icon" type="image/png" href="favicon.png" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="/static/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/styles.css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<nav>
				<h1 id="title">{{ title }}</h1>
			</nav>
		</header>
		<div id="main">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			<form id="login" action="/" method="post">
				<h1>Log in</h1>
				{% csrf_token %}
				{{ login_form.as_p }}
				<button type="submit">Log in</button>
			</form>
			<form id="register" action="/" method="post">
				<h1>Sign up</h1>
				{% csrf_token %}
				{{ register_form.as_p }}
				<button type="submit">Sign up</button>
			</form>
			<p class="clearboth"></p>
		</div> <!-- #main -->
		<footer>
			<p>Footer</p>
		</footer>
	</div> <!-- #wrapper -->
</body>
</html>
